.title{
  font-size: 50px;
  text-align: center;
}
body{
  background-color: green;
}
img:hover{
  opacity: 0.25;
}
.navbar{
  background-color: black;
}
.navbarlink{
  color: green;
  opacity: 100%;
  text-decoration: none;
  font-size: 20px;
  margin-left: 14%;
  margin-right: 14%;
}
.navbarlink:hover{
 background-color: gray;
}
